{% extends "base_generic.html" %}
{% block content %}

<div class="container margen">
    <form action="" name="datos" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <p>Ingrese Email</p>
            <div>
                <p>{{ form.email }}</p> 
            </div>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    </form>
</div>
{% load static %}
<video src="{% static 'vid/star.mp4' %}"  class="blur" id="video_fondo" loop autoplay preload muted></video>
{% endblock %}