/* Style inputs */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
  
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
  /* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #45a049;
}

div.container {
    margin-top: 4%;
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    color: gray;
    padding: 20px;
    border: 1px solid gray;
}

.margen{
    width: 260px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
